h1{
 text-align: center;
 color: #fc883f;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
  padding: 10px 20px;
  background-color: #fc883f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
button:hover{
    background-color: #fc883f;
}

button:active{
    background-color: #fc883f;
}
img{
   width: 1520px;
   height: 480px;
   background-size: cover;
}
body, html{
    background: rgb(6,0,98);
    background: linear-gradient(90deg, rgba(6,0,98,1) 0%, rgba(66,140,255,1) 50%, rgba(6,0,98,1) 100%);
}
h2{
    color: #fc883f;
    font-family: cursive, 'Times New Roman', Times, serif;
    text-align: center;
}
th{
    font-family: cursive, 'Times New Roman', Times, serif;
    text-align: center;
}
table{
    margin: auto;
    background-size: cover;
    background-color: #fc883f;
}
.contenedor{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
}
